# dependencies
node_modules

# next.js
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*
# keep example env file if you use one later
!.env.example

# misc
.DS_Store
tsconfig.tsbuildinfo
